
@{
  ViewBag.Title = "Add Customer";
}

<h2>AddCustomer</h2>

<form action="ViewCustomer" method="post">
  <p>
    Name: <input type="text" name="Name" value="Fred" />
  </p>
  <p>
    Telephone: <input type="text" name="Telephone" value="123454" />
  </p>
  <input type="submit" name="submit" value="Add Customer" />
</form>
